<% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>


<h5><a href="/features">to Fetures</a></h5>
<h5><a href="/characters">to Characters</a></h5>

<h3 style="margin-bottom: 2px;" >Characters</h3>
<div>
  <%= form_tag({controller: "csv_import", action: "importCharacter", method: "POST"}, {multipart: true}) do %>
    <%= file_field_tag :file %>
    </br>
    <%= submit_tag "CSVインポート" %>
  <% end %>
</div>

<h3 style="margin-bottom: 2px;" >Features</h3>
<div>
  <%= form_tag({controller: "csv_import", action: "importFeature", method: "POST"}, {multipart: true}) do %>
    <%= file_field_tag :file %>
    </br>
    <%= submit_tag "CSVインポート" %>
  <% end %>
</div>

