<p id="notice"><%= notice %></p>

<h5><a href="/features">to Fetures</a></h5>
<h4><a href="/CSVImport">CSV Import</a></h5>

<h1>Characters</h1>

<%= link_to 'New Character', new_character_path %>

<table class='table'>
  <thead>
    <tr>
      <th>no</th>
      <th>Pageno</th>
      <th>type</th>
      <th>name</th>
      <th>replaceName</th>
      <th>image_ame</th>
      <th>firstScore</th>
      <th>upScore</th>
      <th>maxScore</th>
      <th>SL1</th>
      <th>SL2</th>
      <th>SL3</th>
      <th>SL4</th>
      <th>SL5</th>
      <th>SL6</th>
      <th>SLFull</th>
      <th>skillDetail</th>
      <th>mustNumChangeFlg</th>
      <th>Musnum1</th>
      <th>mustNum2</th>
      <th>mustNum3</th>
      <th>mustNum4</th>
      <th>mustNum5</th>
      <th>mustNum6</th>
      <th>up_date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.id %></td>
        <td><%= character.PageNo %></td>
        <td><%= character.characterType %></td>
        <td><%= character.name %></td>
        <td><%= character.replaceName %></td>
        <td><%= character.image_name %></td>
        <td><%= character.firstScore %></td>
        <td><%= character.upScore %></td>
        <td><%= character.maxScore %></td>
        <td><%= character.SL1 %></td>
        <td><%= character.SL2 %></td>
        <td><%= character.SL3 %></td>
        <td><%= character.SL4 %></td>
        <td><%= character.SL5 %></td>
        <td><%= character.SL6 %></td>
        <td><%= character.SLFull %></td>
        <td><%= character.skillDetail %></td>
        <td><%= character.mustNumChangeFlg %></td>
        <td><%= character.mustNum1 %></td>
        <td><%= character.mustNum2 %></td>
        <td><%= character.mustNum3 %></td>
        <td><%= character.mustNum4 %></td>
        <td><%= character.mustNum5 %></td>
        <td><%= character.mustNum6 %></td>
        <td><%= character.up_date %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

