<p id="notice"><%= notice %></p>

<p>
  <strong>Pageno:</strong>
  <%= @character.PageNo %>
</p>

<p>
  <strong>Type:</strong>
  <%= @character.Type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Replacename:</strong>
  <%= @character.replacename %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @character.image_name %>
</p>

<p>
  <strong>Firstscore:</strong>
  <%= @character.firstScore %>
</p>

<p>
  <strong>Upscore:</strong>
  <%= @character.upScore %>
</p>

<p>
  <strong>Maxscore:</strong>
  <%= @character.maxScore %>
</p>

<p>
  <strong>Sl1:</strong>
  <%= @character.SL1 %>
</p>

<p>
  <strong>Sl2:</strong>
  <%= @character.SL2 %>
</p>

<p>
  <strong>Sl3:</strong>
  <%= @character.SL3 %>
</p>

<p>
  <strong>Sl4:</strong>
  <%= @character.SL4 %>
</p>

<p>
  <strong>Sl5:</strong>
  <%= @character.SL5 %>
</p>

<p>
  <strong>Sl6:</strong>
  <%= @character.SL6 %>
</p>

<p>
  <strong>Slfull:</strong>
  <%= @character.SLFull %>
</p>

<p>
  <strong>Skilldetail:</strong>
  <%= @character.skillDetail %>
</p>

<p>
  <strong>Mustnumchangeflg:</strong>
  <%= @character.mustNumChangeFlg %>
</p>

<p>
  <strong>Musnum1:</strong>
  <%= @character.musNum1 %>
</p>

<p>
  <strong>Mustnum2:</strong>
  <%= @character.mustNum2 %>
</p>

<p>
  <strong>Mustnum3:</strong>
  <%= @character.mustNum3 %>
</p>

<p>
  <strong>Mustnum4:</strong>
  <%= @character.mustNum4 %>
</p>

<p>
  <strong>Mustnum5:</strong>
  <%= @character.mustNum5 %>
</p>

<p>
  <strong>Mustnum6:</strong>
  <%= @character.mustNum6 %>
</p>

<p>
  <strong>Up date:</strong>
  <%= @character.up_date %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
