<p id="notice"><%= notice %></p>

<p>
  <strong>row:</strong>
  <%= @feature.id %>
</p>

<p>
  <strong>no:</strong>
  <%= @feature.no %>
</p>

<p>
  <strong>type:</strong>
  <%= @feature.featureType %>
</p>

<p>
  <strong>content:</strong>
  <%= @feature.content %>
</p>

<p>
  <strong>contentSortNo:</strong>
  <%= @feature.contentSortNo %>
</p>

<p>
  <strong>up_date:</strong>
  <%= @feature.up_date %>
</p>

<p>
  <strong>deleteFlg:</strong>
  <%= @feature.deleteFlg %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
